<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel = "icon" href = "{{ url_for('static', filename = './image/cse_icon.jpg') }}">
    <link rel = 'stylesheet' href = "{{ url_for('static', filename = './layout/style_login.css') }}">

</head>
<body>

    <span>

        <div class = 'title_block'>
            <p>LOGIN</p>
        </div>
        <div class = 'input_block'>
            <form action="{{ url_for('index') }}" method="post"> <!--http://localhost:5000/result"-->
                <p>UserID： <input type="text" name="ID"></p>
                <p><input type="submit" value="submit"></p>
            </form>
        </div>
        <div class = 'error_block'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p>{{ messages[0] }}</p>
                {% endif %}
            {% endwith %}
        </div>
    </span>

</body>
</html>